<div>
  <mat-card class="add-task">
    <form class="add-task__form"
          [formGroup]="formGroup"
          (ngSubmit)="addNewTask(formGroup.value)"
    >
      <button mat-mini-fab
              color="accent"
              type="submit"
      >+
      </button>
        <mat-form-field class="add-task__form input"
                        appearance="outline"
        >
          <mat-label>Write your task</mat-label>
          <input matInput
                 formControlName="task"
          >
        </mat-form-field>
    </form>
  </mat-card>
</div>
